.navbar ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    text-decoration: none;
    margin-right: 1rem;
    cursor: pointer;
    height: 2rem;
    padding: 5px;
    color: #fff;
}

.navbar li:hover {
    background-color: lightgrey;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #eee;
    padding: 1rem;
}